# Operating system related
.DS_Store
Thumbs.db

# IDE/Code Editor.
.vscode/settings.json

# Dev environment
node_modules
vendor
wp-core
wp-phpunit
dist
languages
.wp-env.override.json
phpcs-report.txt
coverage.xml
.phpunit.result.cache
composer.lock
css-class-manager.zip

# TypeScript
build
build-types
tsconfig.tsbuildinfo
