includes:
	- vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
	level: 9
	paths:
		- css-class-manager.php
		- includes/
	ignoreErrors:
		- '#Constant CSS_CLASS_MANAGER_ABSPATH not found.#'
		- '#Constant CSS_CLASS_MANAGER_URL not found.#'
		-
			message: '#Strict comparison using === between 33\|int<0, 9>\|int<11, 31>\|int<35, 38>\|int<42, 91>\|int<93, 255> and 10 will always evaluate to false.#'
			path: includes/CSSParser/Parser.php
