@import '@wordpress/base-styles/colors';

.css-class-manager {

	&__tab-class-list {

		.edit-post-block-manager__search {
			margin-top: 0;
		}

		.components-panel__body {

			&:focus-within {
				background-color: $gray-100;
			}
		}
	}

	&__class-form {
		flex-basis: 100%;
		padding-top: 2px;

		fieldset {
			display: flex;
			flex-direction: column;
			row-gap: 16px;

			&:disabled {

				.components-input-control__container {
					opacity: 0.4;
				}
			}
		}

		&__info {
			font-size: 0.9em;
			font-style: italic;
			opacity: 0.5;
		}
	}

	&__snackbar-list {
		z-index: 100001;
		bottom: 40px;
		left: 0;
		right: 0;
		padding-left: 16px;
		padding-right: 16px;
		position: fixed;
	}

	&__inspector-control {

		&__label {
			font-size: 11px;
			font-weight: 500;
			line-height: 1.4;
			text-transform: uppercase;
			display: inline-block;
			margin-bottom: calc(4px * 2);
			padding: 0;
		}

		&__help-text {
			margin-top: calc(4px * 2) !important;
			margin-bottom: 0;
			font-size: 12px;
			font-style: normal;
			color: $gray-700;
		}
	}

	&__react-select {

		&__control {
			border-radius: 2px !important;
			border: 1px solid $gray-600 !important;

			&--is-focused {
				border-color: var(--wp-admin-theme-color) !important;
				box-shadow: 0 0 0 .5px var(--wp-admin-theme-color) !important;
			}
		}

		&__input {

			&:focus {
				box-shadow: none !important;
			}
		}

		&__multi-value {

			&__remove {

				&:hover {
					background-color: var(--wp--preset--color--pale-pink) !important;
					color: var(--wp--preset--color--vivid-red) !important;
				}
			}
		}

		&__menu {
			top: auto !important;
			bottom: 100%;
			box-shadow: 0 0 0 4px $gray-600;
			border: 1px solid $gray-600;
		}

		&__option {

			&--is-focused {
				background-color: var(--wp-admin-theme-color) !important;
				color: $white !important;
			}

			&__description {
				margin: 0;
				font-size: 0.9em;
				font-style: italic;
				opacity: 0.5;
			}
		}
	}
}
